In [1]:
print("This is a test notebook!")

This is a test notebook!

In [1]:
print("Let's see if I can edit, then push changes to Github!")

Let's see if I can edit, then push changes to Github!

In [22]:
import pandas as pd

test_df = pd.DataFrame({'A' : [1,1,2,3],'B':[8,7,3,2]}) 

print("Here is my original data. \n")

print(test_df.head(), '\n')

## Define a function that squares its input
def my_square(x):
    return x**2

test_df['B'] = test_df['B'].map(my_square)

print("Look, I applied a function to Column B! \n")
print(test_df.head())

Here is my original data.

   A  B
0  1  8
1  1  7
2  2  3
3  3  2

Look, I applied a function to Column B!

   A   B
0  1  64
1  1  49
2  2   9
3  3   4

   A  B
0  1  8
1  1  7
2  2  3
3  3  2